{{> navbar}}

<div class="container">

    <div class="jumbotron">
        <h2>Approve this client?</h2>
        {{#if client.client_name}}
        <p>
            <b>Name:</b>
            <code>{{client.client_name}}</code>
        </p>
        {{/if}}
        <p>
            <b>ID:</b>
            <code>{{client.client_id}}</code>
        </p>
        {{#if client.client_uri}}
        <p>
            <b>URI:</b>
            <code>{{client.client_uri}}</code>
        </p>
        {{/if}} {{#if client.logo_uri}}
        <p>
            <b>logo:</b>
            <img src="{{client.logo_uri}}" />
        </p>
        {{/if}}

        <form class="form-horizontal" action="/approve" method="POST">
            {{!-- <label>Select user:</label>
            <select name="user">
                <option value="alice">Alice</option>
                <option value="bob">Bob</option>
            </select> --}}

            <div class="form-group">
                <label class="col-md-2 control-label">Email</label>
                <div class="col-md-4">
                    <input type="email" name="email" class="form-control" autofocus/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-2 control-label">Parola </label>
                <div class="col-md-4">
                    <input type="password" name="password" class="form-control"/>
                </div>
            </div>   

            <input type="hidden" name="requestId" value="{{requestId}}">
            {{#if scopes}}
                <p>The client is requesting access to the following:</p>
                <ul>
                    {{#each scopes as |s scopeIndex|}}
                    <li>
                        <input type="checkbox" name="scope_{{s}}" id="scope_{{s}}" checked="checked">
                        <label for="scope_{{s}}">{{s}}</label>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
            <input type="submit" class="btn btn-success" name="approve" value="Approve">
            <input type="submit" class="btn btn-danger" name="deny" value="Deny">
        </form>

    </div>

</div>